/* Thiết lập cho dropdownlist */
.m-dropdownlist {
    height: 26px;
    min-width: 80px;
    border-radius: 4px;
    background: #FFFFFF;
    border: 1px solid #E6E6E6;
    font-size: 9px;
    padding-left: 8px;
    outline: none;
}

/* Khi focus vào dropdownlist */
.m-dropdownlist:focus {
    border: 1px solid #5DC748;
}

/* Thiết lập cho dropdownlist form */

.m-dropdownlist-form {
    width: 300px;
	height: 36px;
    font-size: 14px;
}

/* Thiết lập cho dropdownlist table */
.m-dropdownlist-table {
    height: 36px;
    font-size: 14px;
    color: #212121;
}
.dialog .m-button-cancel {
    margin-right: 16px;
}