/* Thiết lập cho icon */
.icon {
    height: 24px;
    width: 24px;
    background-image: url("../../assets/img/Sprites.64af8f61.svg");
    background-repeat: no-repeat;
    background-size: 2000px 2000px;
    cursor: pointer;
}

/* icon bell */
.icon-bell {
    background-position: -781px -84px;
}

/* icon reload */
.icon-reload {
    background-position: -1082px -137px;
}

/* icon toggle */
.icon-toggle {
    background-position: -1144px -83px;
}

/* icon bars */
.icon-bars {
    background-position: -837px -84px;
}

/* icon down small*/
.icon-down-small {
    background-position: -1778px -518px;
}

/* icon  down large*/
.icon-down-large {
    background-position: -1115px -409px;
}

/* icon overview */
.icon-overview {
    background-position: -30px -1669px;
}

/* icon money bag */
.icon-bag {
    background-position: -73px -1670px;
}

/* icon send money */
.icon-send {
    background-position: -116px -1670px;
}

/* icon buy product */
.icon-buy {
    background-position: -160px -1670px;
}

/* icon sell product */
.icon-sell {
    background-position: -203px -1670px;
}

/* icon bill */
.icon-bill {
    background-position: -247px -1670px;
}

/* icon warehouse */
.icon-warehouse {
    background-position: -289px -1670px;
}

/* icon tools */
.icon-tools {
    background-position: -333px -1670px;
}

/* icon asset */
.icon-asset {
    background-position: -376px -1670px;
}

/* icon tax */
.icon-tax {
    background-position: -420px -1671px;
}

/* icon price */
.icon-price {
    background-position: -464px -1671px;
}

/* icon synthetic */
.icon-synthetic {
    background-position: -507px -1670px;
}

/* icon report */
.icon-report {
    background-position: -542px -1672px;
}

/* icon analysis */
.icon-analysis {
    background-position: -203px -1703px;
}

/* icon bank */
.icon-bank {
    background-position: -375px -1702px;
}

/* icon search */
.icon-search {
    background-position: -718px -95px;
    background-size: 1400px 1400px;
}

/* icon caret-down setup */
.icon-caret-down-setup {
    background-position: -885px -407px;
}

/* icon caret-down small */
.icon-caret-down-small {
    background-position: -552px -407px;
}

/* icon caret-down large */
.icon-caret-down-large {
    background-position: -362px -407px;
}

/* icon logo company */
.icon-logo {
    background-image: url("/assets/favicon.ico");
    height: 32px;
    width: 32px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

/* icon user */
.icon-user {
    background-position: -347px -945px;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    background-color: #cccc;
}

/* icon question */
.icon-question {
    background-position: -725px -84.5px;
}

/* icon close */
.icon-close {
    background-position: -1163px -408px;
    filter: invert(18%) sepia(100%) saturate(4967%) hue-rotate(357deg) brightness(83%) contrast(123%);
}

/* icon plus large*/
.icon-plus-large {
    background-position: -608px -946px;
}

/* icon plus small */
.icon-plus-small {
    background-position: -30.5px -363px;
    height: 20px;
    width: 20px;
    filter: invert(94%) sepia(0%) saturate(7500%) hue-rotate(330deg) brightness(1200%) contrast(108%);
}

/* icon filter */
.icon-filter {
    background-position: -1588px  -143px;
}

/* icon setting */
.icon-setting {
    background-position: -504px  -360px;
}

/* icon warning */
.icon-warning {
    background-position: -810px -198px;
}

/* icon successful */
.icon-successful {
    background-position: -1587px -308.5px;
}

/* icon info */
.icon-info {
    background-position: -399px -306.5px;
    background-size: 1200px 1200px;
}

/* icon error */
.icon-error {
    background-position: -313px -477.5px;
    background-size: 800px 800px;
}

/* icon file */
.icon-file {
    background-position: -484.5px -700px;
    background-size: 1600px 1600px;
}

/* icon logo index1.html */
.icon-logo-1 {
    background: url("/assets/img/Sprites.64af8f61.svg") no-repeat -917px -1694px;
	width: 134px;
	height: 32px;
}

/* icon customer */
.icon-customer {
    background-position: -116px -1702px;
}

/* icon after */
.icon-after {
    background-position: -49px -618px;
    background-size: 3000px 3000px;
}

/* icon before */
.icon-before {
    background-position: -118px -618px;
    background-size: 3000px 3000px;
}

/* icon prev */
.icon-prev {
    background-position: -49px -618px;
    background-size: 3000px 3000px;
}

/* icon loading */
.icon-loading {
    background-image: url("/assets/loading.svg");
    height: 50px;
    width: 50px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

/* icon chevron-down */
.icon-chevron-down {
    background-position: -1110px -403px;
}